<header>
    <nav class="navbar">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand">
                <img src="assets/images/LOGO.svg" alt="Vistara Rooms"/>
            </a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
           
            <ul class="nav navbar-nav navbar-right">
              <li><a>Cities <i class="fa fa-sort-desc"></i></a></li>
              <li><a>Prime Member </a></li>
              <li><a>Explore  <i class="fa fa-sort-desc"></i></a></li>
              <li><a>List Your Property</a></li>
              <li><a>Need Help?</a></li>
              <li><a><i class="fa fa-search"></i></a></li>
              <li><a><i class="fa fa-user"></i></a></li>
              <li><a><i class="fa fa-bars"></i></a></li>
            </ul>
          </div>
        </div>
      </nav>
</header>