
.navbar-brand img{width:115px;height:36px;}
.navbar{margin-bottom:0px !important;padding:10px 0px;}
.nav li a{color:#df495a !important}
.fa-sort-desc{position:absolute;right:4px;top:16px;}
.nav li a:hover{
    background:transparent !important;
    color:#df495a;
}