.section-one {
  height: 100vh;
  background: url('/assets/images/corporate.svg') no-repeat;
  background-position: center;
  background-size:cover;
  /* position: relative; */
}

.text-tagline{
    position:absolute;
    top:20vh;
    left:3vw;
    width:450px;
}

.text-tagline p{
    font-size:20px;
}

.form-wrapper{
    position: absolute;
    top:20vh;
    right:3vw;
    width:350px;
    min-height:450px;
    background : #f3f3f4;
    border-radius:10px;
    box-shadow: 0 3px 6px rgba(0,0,0,.16);
}

.form-wrapper h4{padding:10px;}
.form-wrapper form{padding:15px;}
.form-control{box-shadow: 1px 2px 5px 1px rgba(216,204,204,.75)!important;border:1px solid #000}
.form-group .btn{width:100%;background:#df495a;font-weight:900;color:#fff;outline: none;letter-spacing: 1px;}
.is-invalid{border:1px solid red !important}
 select option{padding:20px;font-size:15px;border:1px solid black}
.introductiontext, .instore{padding:20px 10px;}
 .question{font-weight:900 !important;}
.answer{font-size:16px;}

.hosting{background: #f7f7f7;min-height:100px;padding:20px 10px;}

.hostingevents{display:flex;flex-wrap: wrap;justify-content: center;}
.event_div{flex : 0 0 200px;min-height:100px;margin:20px;}
.event_images_wrapper{width:180px;height:180px;border-radius: 50%;margin:5px auto;}
.instoreoptions{list-style-type: none;}
.instoreoptions li{padding:20px;font-size:18px;}
.instoreoptions li img{margin-right:10px;}
.videowrapper{width:95%;min-height:500px;display:flex;justify-content: center;align-items: center;margin:0px auto;}
@media screen and (max-width : 991px){
    .section-one{height:450px !important;background-size:cover !important;background-position: center !important;}
    .text-tagline{width:100% !important;top:15vh !important;left:0px !important;text-align:center !important;}
    .text-tagline h1{font-size:20px !important}
    .text-tagline p{font-size:14px !important;}
    .form-wrapper{position: relative !important;top:0vh !important;left:50% !important;transform:translateX(-50%) !important;width:100% !important;}
    .form-wrapper form{width:300px;margin:10px auto;}
    .videowrapper{min-height:200px !important;}
}