<div class="section-one">
  <div class="text-tagline">
    <h1><strong>Redefine Work with Vista Virtual Offsites</strong></h1>
    <p>Collaborate with your team in a virtual workspace that fosters team bonding.</p>
  </div>
</div>

<div class="form-wrapper">
  <h4 class="text-center"><strong>Enquire Now !</strong></h4>
  <form [formGroup]="enquiry" id="regFrm" (ngSubmit)="on_submit_enquiry(enquiry)">
    <div class="form-group">
      <div class="form-element">
        <input type="text" class="form-control" formControlName="fullname"
          [ngClass]="{ 'is-invalid': submitted && f.fullname.errors }" placeholder="Enter Name*" />
      </div>
    </div>

    <div class="form-group">
      <div class="form-element">
        <input type="text" class="form-control" formControlName="mobile"
          [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }" (keypress)="keyPress($event)" minlength="10"
          maxlength="10" placeholder="Enter Mobile Number*" />
      </div>
    </div>

    <div class="form-group">
      <div class="form-element">
        <input type="text" class="form-control" formControlName="email"
          [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="Enter Email ID*" />
      </div>
    </div>

    <div class="form-group">
      <div class="form-element">
        <input type="text" class="form-control" formControlName="organization"
          [ngClass]="{ 'is-invalid': submitted && f.organization.errors }" placeholder="Enter Organization Name*" />
      </div>
    </div>

    <div class="form-group">
      <div class="form-element">
        <select class="form-control" formControlName="groupsize"
          [ngClass]="{ 'is-invalid': submitted && f.groupsize.errors }">
          <option value="" disabled selected>Enter Group Size*</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <div class="form-element">
        <select class="form-control" formControlName="location"
          [ngClass]="{ 'is-invalid': submitted && f.location.errors }">
          <option value="" disabled selected>Location On Your Mind*</option>
          <option>Mumbai</option>
          <option>Pune</option>
          <option>Bangalore</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <div class="form-element">
        <select class="form-control" formControlName="timeslot"
          [ngClass]="{ 'is-invalid': submitted && f.timeslot.errors }">
          <option value="" disabled selected>Select Time Slot*</option>
          <option>1pm - 2pm</option>
          <option>2pm - 3pm</option>
          <option>3pm - 4pm</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <div class="form-element">
        <button class="btn">ENQUIRE</button>
      </div>
    </div>
  </form>
</div>

<div class="introductiontext">
  <div class="container">
    <h2 class="text-center question">What is vista virtual Offsite?</h2>
    <div class="text-center answer">To stay connected during the lockdown, Vista has taken the Virtual Offsite
      initiative for organizations. We
      help companies and organisations meet business objectives whilst they beat the monotony and inertness through
      group activities, games, art, yoga, and more. Work like you’re working from the office in the comfort of your
      home.</div>
  </div>

</div>


<div class="hosting">
  <h2 class="text-center question">Virtual Corporate Events We Host</h2>
  <div class="hostingevents">
    <div class="event_div">
      <div class="event_images_wrapper">
        <img src="assets/images/staff-meeting.webp" width="100%" />
      </div>
    </div>
    <div class="event_div">
      <div class="event_images_wrapper">
        <img src="assets/images/award.webp" width="100%" />
      </div>
    </div>
    <div class="event_div">
      <div class="event_images_wrapper">
        <img src="assets/images/Group-5596.webp" width="100%" />
      </div>
    </div>
    <div class="event_div">
      <div class="event_images_wrapper">
        <img src="assets/images/bowling-pins.webp" width="100%" />
      </div>
    </div>
    <div class="event_div">
      <div class="event_images_wrapper">
        <img src="assets/images/cake.webp" width="100%" />
      </div>
    </div>
  </div>
</div>


<div class="instore">
  <h2 class="text-center question">What's In Store?</h2>
  <div class="col-md-12">
    <div class="col-md-6">
        <ul class="instoreoptions">
            <li><span><img src="assets/images/PersonalizedInvite.webp" width="40px"/></span> Personalized Invite</li>
            <li><span><img src="assets/images/CustomZoomBackground.webp" width="40px"/></span> Custom Zoom Background</li>
            <li><span><img src="assets/images/PersonalizedGames&Entertainment.webp" width="40px"/></span> Personalized Games & Entertainment</li>
            <li><span><img src="assets/images/LiveMusicorKaraoke.webp" width="40px"/></span> Live Music or Karaoke</li>
            <li><span><img src="assets/images/BirthdayBingo.webp" width="40px"/></span> Birthday Bingo</li>
            <li><span><img src="assets/images/ProfessionalHost.webp" width="40px"/></span> Professional Host</li>
        </ul>
    </div>
    <div class="col-md-6">
        <div class="videowrapper">
            <iframe width="100%" height="300px" src="https://www.youtube.com/embed/1cbBQCQ71aI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
  </div>
</div>
