/* You can add global styles to this file, and also import other style files */
*{margin:0px;padding:0px;}

@font-face{
    font-family: avenir;
    src: url('/assets/fonts/avenir/AvenirLTStd-Book.otf');
}
html,body{
    box-sizing: border-box;
    width:100%;
    font-family: avenir !important;
}